* {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#container {
    border: 2px dotted red;
    height: 800px;
    width: 800px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}
.square {
    border-style: solid;
    border-width: 0.01px;
    border-color: grey;
    box-sizing: border-box;
    background-color: white;
}

